@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

@font-face {
  font-family: whitney;
  src: url('./Fonts/whitneybook.otf');
}
@font-face {
  font-family: whitney-bold;
  src: url('./Fonts/whitneybold.otf');
}

*{
  font-family: whitney;
}
.bold{
  font-family: whitney-bold !important
}

body{
  background-color: #31343a;
}

.side-icon{
  border-radius: 100%;
}
.side-icon.active{
  border-radius: 1rem;
}
.side-icon:hover{
  border-radius: 1rem;
}

.side-icon svg{
  fill: #3BA55D
}
.side-icon.active svg{
  fill: #fff
}
.side-icon:hover svg{
  fill: #fff
}

.dms-button *{
  color: #a5a5a5;
}
.dms-button:hover *{
  color: #eee;
}
.dms-button.active *{
  color: #eee;
}

.frs svg{
  color: #a5a5a5;
}
.frs:hover svg{
  color: #eee;
}

.channel-browser{
  border: 1px solid #ffffff1c;
  border-left: none;
  border-right: none;
}

.default-color{
  color: hsl(214 calc(1*8.1%)61.2%/1);
}

.channel-button:hover > svg{
  display: block;
}

.tag-bg{
  color: hsl(235 calc(1*86.2%)88.6%/1);
  background-color: hsl(235 calc(1*85.6%)64.7%/0.3);
}


.big-scroll{
  scroll-behavior: inherit;
  margin-top: 1px;
}
.big-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px 100px;
}

/* Track */
.big-scroll::-webkit-scrollbar-track {
  background: #2d2f33;
  border-radius: 100px 100px;
  margin-top: 5px;
}

/* Handle */
.big-scroll::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 100px 100px;
}

/* Handle on hover */
.big-scroll::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
  border-radius: 100px 100px;
}

.miniprofile-avatar:hover > .miniprofile-overlay{
  display: flex;
}

.triangle{
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #141414 transparent transparent;
}

.profile-bar:hover > div > div > p:nth-of-type(1){
  margin-top: -17px;
}

.friend:hover .friend-buttons > *{
  background-color: #222222;
}

.twemoji{
  display: inline;
  width: 50px;
  padding-top: 3px;
}
.twemoji-small{
  width: 20px;
  padding-top: 0;
}

.message-container{
  color: #dadada;
}

.message-container a{
  color: #0B8CCE
}


.channel-scroll{
  scroll-behavior: inherit;
}
.channel-scroll::-webkit-scrollbar {
  width: 2px;
  border-radius: 100px 100px;
}

/* Track */
.channel-scroll::-webkit-scrollbar-track {
  background: #2d2f33;
  border-radius: 100px 100px;
}

/* Handle */
.channel-scroll::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 100px 100px;
}

/* Handle on hover */
.channel-scroll::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
  border-radius: 100px 100px;
}